body{
	margin: 0;
	padding: 0;
}
.tong{
	width: 100%;
	height: 800Px;
	background-color: greenyellow;
}
.dong1{
	width: 100%;
	height: 8%;
	background-color: #0072b9;
}
.dong1 ul{
	list-style-type: none;
	display: flex;
}
.dong1 li{
	margin-top: 7px;
	padding: 20px;
	width: 100px;
	height: 10px;
	color: white;
}
.dong1 li:hover{
	background-color: #345985;
	color: white;
}
.dong2{
	width: 100%;
	height: 8%;
	background-color: white;
	float: left;
}
.dong2 p{
	margin-left: 1300px;
	color: #adadad;
}
.dong3{
	background-color: green;
	width: 100%;
	height: 84%;
}
.trai{
	width: 20%;
	height: 100%;
	float: left;
	background-color: white;
}
.trai ul{
	list-style-type: none;
	border: 1px solid grey;
	background-color: #f8f8f8;
}
.trai li{
	padding: 10px;
	font-size: 20px;
}
.trai li:hover{
	color: red;
}
.phai{
	width: 80%;
	height: 100%;
	float: left;
	background-color: white;
}
.phai ul{
	list-style-type: none;
}
.phai li{
	display: flex;
}
.phai h1{
	color: #78858d;
	padding-left: 20px;
}
.phai img{
	width: 200px;
	height: 180px;
}
.phai button{
	background-color: #2d89cf;
}
.phai a{
	background-color: #2d89cf;
	color: white;
	text-decoration: none;
}
.main{
	padding: 20px;
}
.main :hover{
	color: red;
}